mixin abtn(options)
	a.btn(href=options.href, class!= 'btn-' + options.type onClick=options.click) 
		if options.icon
			span.i(class!= 'fa fa-' + options.icon, style='margin-right: 8px') 
		!= options.text

mixin submit(options)
	.form-actions
		button(type='submit' class!='btn-' + options.type).btn
			if options.icon 
				span.i(class!= 'fa fa-' + options.icon, style='margin-right: 6px')
			!= options.text

mixin btn(options)
	button.btn(type=options.btnType, class!='btn-' + options.type, id=options.id onClick=options.click data-dismiss=options.dismiss)
		if options.icon
			span.i(class!= 'fa fa-' + options.icon, style='margin-right: 6px')
		!= options.text

mixin mbtn(options)
	button.btn(type='button', class!='btn-' + options.type, data-target='#' + options.id, data-toggle='modal')
		if options.icon
			span.i(class!= 'fa fa-' + options.icon, style='margin-right: 6px')
		!= options.text
